*{
    user-select: none;
}
body{
    background-image: url(../images/background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.main{
    width: 500px;
    height: 500px;
    margin: 150px auto;
    background-color: aliceblue;
    border-radius: 5px;
}
.TL{
    position: relative;
    top: 20px;
    left: 55px;
    font-weight: bold;
}
.title{
    position: relative;
    top: -40px;
    left: 220px;
    color: rosybrown;
    font-weight: bold;
}
.list{
    position: relative;
    width: 150px;
    height: 425px;
    top: -65px;
    left: 15px;
    border-radius: 5px;
    background-color: antiquewhite;
}
.helps_updatelogs{
    position: relative;
    left: 37px;
    top: 20px;
    padding: 10px;
    border: 0 solid;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.5s;
    font-weight: bold;
}
.helps_updatelogs:hover{
    cursor: pointer;
    color: red;
}
.list2{
    position: relative;
    top: -470px;
    left: 185px;
    background-color: #ccc;
    width: 300px;
    height: 100px;
    border-radius: 5px;
}
.input1{
    position: relative;
    border: 0 solid;
    background-color: antiquewhite;
    border-radius: 100px;
    top: 10px;
    left: 5px;
    font-weight: bold;
}
.open1{
    position: relative;
    background-color: rosybrown;
    color: aliceblue;
    border: 0 solid;
    border-radius: 5px;
    transition: 0.5s;
    top: 10px;
    left: 7px;
    font-weight: bold;
}
.open1:hover{
    cursor: pointer;
    color: aqua;
}
.line1{
    position: relative;
    top: -10px;
    left: 40px;
    color: rosybrown;
    font-weight: bold;
}
.TLcopy{
    position: relative;
    top: -210px;
    left: 170px;
    font-size: 130%;
    color: salmon;
}